<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Riki_Fraud::suspected_fraud" title="Suspected Fraud Orders" module="Riki_Fraud"
             sortOrder="11" action="riki_fraud/order/report" parent="Magento_Sales::sales_operation"
             resource="Riki_Fraud::suspected_fraud"/>
    </menu>
</config>
