<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="disable-email-create-machine-order" instance="Riki\MachineApi\Observer\DisableSendMailOrderMachine"/>
    </event>
    <event name="checkout_submit_before">
        <observer name="riki_machine_validate_before_submit" instance="Riki\MachineApi\Observer\ValidateMachineBeforeSubmit" />
        <observer name="riki_machine_api_handle_b2c_machine_stock" instance="Riki\MachineApi\Observer\HandleB2cMachineStock" />
    </event>
</config>