<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Riki_SubscriptionMachine::machine" title="Free Machine Attachment" sortOrder="350">
                    <resource id="Riki_SubscriptionMachine::machine_customer" title="Machine Customer" sortOrder="351">
                        <resource id="Riki_SubscriptionMachine::machine_customer_save" title="Save" sortOrder="352" />
                        <resource id="Riki_SubscriptionMachine::machine_customer_delete" title="Delete" sortOrder="352" />
                    </resource>
                    <resource id="Riki_SubscriptionMachine::machine_skus" title="Machine SKU" sortOrder="352">
                        <resource id="Riki_SubscriptionMachine::machine_skus_save" title="Save" sortOrder="352" />
                        <resource id="Riki_SubscriptionMachine::machine_skus_delete" title="Delete" sortOrder="352" />
                    </resource>
                    <resource id="Riki_SubscriptionMachine::machine_conditionRule" title="Machine Condition Rule" sortOrder="353">
                        <resource id="Riki_SubscriptionMachine::machine_conditionRule_save" title="Save" sortOrder="352" />
                        <resource id="Riki_SubscriptionMachine::machine_conditionRule_delete" title="Delete" sortOrder="352" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>