＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋</br>
ネスレ通販</br>
オンラインショップからのお知らせ</br>
＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋＋</br>

※このメールは配信停止希望のお客様にもお送りしています。</br>

{{var customer_name}}様</br>

いつもネスレ通販をご利用いただきありがとうございます。</br>
以下の定期お届け便の解約を受け付けました。</br>

【解約された定期便】{{var profile_name}}</br>
【解約日】{{var cancellation_date}}</br>

ご返却が必要なコーヒーマシンやそのほかのツールをお持ちの方へは、別途送付先として指定されている住所にご案内をお送りいたします。</br>

今後ともネスレ通販 オンラインショップをよろしくお願いいたします。</br>

※このメールは自動配信メールです。</br>
このメール送信元にご返信いただいてもご対応しかねますのでご了承ください。</br>
このメールにお心当たりのない方、その他ご不明な点がございましたら、</br>
大変お手数ですが、下記のお問い合わせ先までご連絡ください。</br>
※表示されている価格は、すべて税込価格です。</br>
――――――――――――――――――――――――――――――――</br>