<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="multiCheckout" frontName="multicheckout">
            <module name="Riki_Checkout" before="Magento_Core"/>
        </route>
        <route id="riki_checkout" frontName="riki-checkout">
            <module name="Riki_Checkout" before="Magento_Core"/>
        </route>
    </router>
</config>