<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Create our type TimeSlotsGridDataProvider -->
    <virtualType name="TimeSlotsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Riki\TimeSlots\Model\ResourceModel\TimeSlots\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TimeSlotsGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type TimeSlotsGridFilterPool -->
    <virtualType name="TimeSlotsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for jobs_department_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="timeslots_listing_data_source" xsi:type="string">Riki\TimeSlots\Model\ResourceModel\Grid\TimeSlots\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Maxime\Jobs\Model\ResourceModel\Grid\Department\Collection -->
    <virtualType name="Riki\TimeSlots\Model\ResourceModel\Grid\TimeSlots\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">riki_timeslots</argument>
            <argument name="resourceModel" xsi:type="string">Riki\TimeSlots\Model\ResourceModel\TimeSlots</argument>
        </arguments>
    </virtualType>

</config>