<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <emulator_payment>
            <paygent>
                <model>Riki\Subscription\Model\Emulator\PaymentMethod\Paygent</model>
            </paygent>
            <cvspayment>
                <model>Riki\Subscription\Model\Emulator\PaymentMethod\CvsPayment</model>
            </cvspayment>
            <cashondelivery>
                <model>Riki\Subscription\Model\Emulator\PaymentMethod\Cashondelivery</model>
            </cashondelivery>
            <invoicedbasedpayment>
               <model>Riki\Subscription\Model\Emulator\PaymentMethod\InvoicedBasedPayment</model>
            </invoicedbasedpayment>
            <free>
                <model>Magento\Payment\Model\Method\Free</model>
            </free>
            <npatobarai>
                <model>Riki\NpAtobarai\Model\Payment\NpAtobarai</model>
            </npatobarai>
        </emulator_payment>
        <subscriptionprofiledit>
            <subscription_profile_edit_customer_address>
                <subscription_profile_edit_address_home_no_company_name>https://shop.nestle.jp/front/app/customer/customer_edit1?url=</subscription_profile_edit_address_home_no_company_name>
                <subscription_profile_edit_address_home_have_company_name>https://shop.nestle.jp/front/app/customer/office_customer_edit2?url=</subscription_profile_edit_address_home_have_company_name>
                <subscription_profile_edit_address_ambassador_company>https://shop.nestle.jp/front/app/customer/ambassador_info_edit?url=</subscription_profile_edit_address_ambassador_company>
                <subscription_profile_edit_customer_password>https://shop.nestle.jp/front/app/customer_changepassword/init</subscription_profile_edit_customer_password>
            </subscription_profile_edit_customer_address>
        </subscriptionprofiledit>
        <subscriptioncourse>
            <createorder>
                <startconsumer>*/5 * * * *</startconsumer>
                <number_consumer_createorder>3</number_consumer_createorder>
                <number_message_per_consumer>10000</number_message_per_consumer>
                <expressioncollectlog>0 8 * * *</expressioncollectlog>
                <delete_incomplete_generate_profile_order_schedule>*/10 * * * *</delete_incomplete_generate_profile_order_schedule>
            </createorder>
            <indexer>
                <crontab>*/5 * * * *</crontab>
                <number_consumer_indexer>1</number_consumer_indexer>
                <number_message_per_consumer>1000</number_message_per_consumer>
            </indexer>
        </subscriptioncourse>
        <subcreateorder>
            <payment_method_error>
                <sender>general</sender>
            </payment_method_error>
        </subcreateorder>
        <loggersetting>
            <subscriptionlogger>
                <logger_order_active>1</logger_order_active>
                <logger_free_machine_active>1</logger_free_machine_active>
                <logger_publish_queue_active>1</logger_publish_queue_active>
                <logger_simulate_active>1</logger_simulate_active>
                <logger_edit_profile_active>1</logger_edit_profile_active>
                <logger_replace_product_active>0</logger_replace_product_active>
                <logger_state_profile_active>0</logger_state_profile_active>
                <logger_bi_export_subscription_active>1</logger_bi_export_subscription_active>
                <logger_cancel_incomplete_generate_profile_order>1</logger_cancel_incomplete_generate_profile_order>
                <delay_payment>1</delay_payment>
                <logger_add_product_to_profile>1</logger_add_product_to_profile>
            </subscriptionlogger>
        </loggersetting>
        <deliverydate>
            <calendar_period>
                <day_period>30</day_period>
                <edit_profile_day_period>30</edit_profile_day_period>
                <maximum_edit_profile_day_period>12</maximum_edit_profile_day_period>
            </calendar_period>
        </deliverydate>
        <subscriptioncourse>
            <stockpoint>
                <is_active>1</is_active>
                <post_url><![CDATA[http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/showMap]]></post_url>
                <key_authorization_api>Basic c3RvY2stcG9pbnQ6eVRLWm00OHlwemhqUnF5Rw=='</key_authorization_api>
                <url_api_register_delivery>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/registerDelivery</url_api_register_delivery>
                <url_api_remove_bucket_id>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/removeFromBucket</url_api_remove_bucket_id>
                <url_api_get_discount_rate>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/getDiscountRate</url_api_get_discount_rate>
                <url_api_confirm_bucket_order>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/confirmBucketOrder</url_api_confirm_bucket_order>
                <url_api_get_stock_point_delivery_status>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/getStockpointDeliveryStatus</url_api_get_stock_point_delivery_status>
                <url_api_deactivate_stock_point>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/deactivateStockPoint</url_api_deactivate_stock_point>
                <url_api_delivery_status_stock_point>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/deliveryStatus</url_api_delivery_status_stock_point>
                <url_api_stop_stock_point>http://ns-projects-s-dev.ap-northeast-1.elasticbeanstalk.com/V1/stopStockPoint</url_api_stop_stock_point>
                <lifetime_stock_point_session>20</lifetime_stock_point_session>
            </stockpoint>
        </subscriptioncourse>
    </default>
</config>