<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
        <tab id="nestle" translate="label" sortOrder="200">
            <label>Nestle Config</label>
        </tab>
        <section id="gillette" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gillette API configuration</label>
            <tab>nestle</tab>
            <resource>Nestle_Gillette::api_execution</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Gillette configuration</label>
                <field id="gillette_sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Gillette SKU</label>
                    <comment>SKU to identify shaver</comment>
                </field>
                 <field id="blade_sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Blade SKU</label>
                    <comment>SKU to identify blade</comment>
                </field>
                <field id="url_redirect" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Paygent Return URL</label>
                    <comment>Paygent success return url</comment>
                </field>
                <field id="custom_available_start_date" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Available start date</label>
                    <comment>Use it to calculate delivery date for order</comment>
                </field>
                <field id="cart_rules_can_apply" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cart Rule Can Apply</label>
                    <comment>List of Cart Rule ID can apply, separate by comma(,) </comment>
                </field>
            </group>
        </section>
    </system>
</config>