<!-- ko if : checkMultiple() -->
<li id="checkout-shipping-address-text" role="presentation" class="shipping-address-text">
    <div id="checkout-step-shipping-address-text" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
        <div class="no-margin-bottom">
            <div class="opc-single-sub">
                <div class="opc-sub-title">
                    <span data-bind="i18n: 'Shipping address'"></span>
                </div>
                <span data-bind="i18n: '複数の配送先がありますので、このページの下部にてご確認ください。'"></span>
            </div>
        </div>
    </div>
</li>
<!-- /ko -->