<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="riki_offlinepayments_payment_method_is_active" instance="Riki\OfflinePayments\Observer\PaymentMethodIsActive"/>
        <observer name="riki_check_cod_gift_order_rule" instance="Riki\OfflinePayments\Observer\CheckPaymentActiveGiftOrderRule"/>
    </event>
</config>