<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\PageCache\Model\App\FrontController\VarnishPlugin" type="Riki\PageCache\Model\App\FrontController\VarnishPlugin" />
    <preference for="Magento\PageCache\Model\Controller\Result\VarnishPlugin" type="Riki\PageCache\Model\Controller\Result\VarnishPlugin" />
    <type name="Magento\Customer\Model\Session">
        <plugin name="rikiPageCacheCastGroupIdToInt" type="Riki\PageCache\Plugin\CastGroupIdToInt" />
    </type>
</config>
