<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_attribute_update_before">
        <observer name="track_data_product" instance="Nestle\Catalog\Observer\Product\ProductAttributeUpdateBefore" />
    </event>
</config>