<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\GiftWrapping\Model\Wrapping" type="Riki\MasterDataHistory\Model\Wrapping" />
    <preference for="Riki\Customer\Model\Shosha" type="Riki\MasterDataHistory\Model\Shosha" />
    <type name="Wyomind\AdvancedInventory\Controller\Adminhtml\Stocks\Save">
        <plugin name="save_stock" type="Riki\MasterDataHistory\Plugin\Save" sortOrder="10" />
    </type>
</config>
