<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Riki_Loyalty::config" title="Reward Points" sortOrder="192012" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Riki_Loyalty::reward_point" title="Loyalty Program" sortOrder="20">
                    <resource id="Riki_Loyalty::approve_point" title="Approve pending point" sortOrder="0" />
                    <resource id="Riki_Loyalty::delete_point" title="Delete shopping point" sortOrder="0" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>