<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Riki_Wamb::Rule" sortOrder="10" title="WAMB Rule">
					<resource id="Riki_Wamb::Rule_save" sortOrder="30" title="Edit"/>
					<resource id="Riki_Wamb::Rule_delete" sortOrder="20" title="Delete"/>
					<resource id="Riki_Wamb::Rule_view" sortOrder="40" title="View"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
