<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="catalog_product_is_salable_after">
        <observer name="check-spot-order-status" instance="Riki\StockSpotOrder\Observer\CheckSpotOrder"/>
    </event>

    <event name="checkout_cart_product_add_after">
        <observer name="check-spot-order-add-to-cart" instance="Riki\StockSpotOrder\Observer\CheckSpotAddToCart"/>
    </event>

    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="check-spot-order-remove-product-on-add-to-cart" instance="Riki\StockSpotOrder\Observer\RemoveSpotAddToCart"/>
    </event>
</config>