<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Riki_ProductStoctStatus::stockstatus" title="Stock status management"
             module="Riki_ProductStockStatus" sortOrder="55" parent="Magento_Catalog::inventory"
             action="stockdisplay/stockstatus" resource="Riki_ProductStoctStatus::stockstatus"/>
    </menu>
</config>
