<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Riki\NpAtobarai\Api\TransactionRepositoryInterface" type="Riki\NpAtobarai\Model\TransactionRepository"/>
	<preference for="Riki\NpAtobarai\Api\Data\TransactionInterface" type="Riki\NpAtobarai\Model\Transaction"/>
	<preference for="Riki\NpAtobarai\Api\Data\TransactionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Riki\NpAtobarai\Api\TransactionManagementInterface" type="Riki\NpAtobarai\Model\TransactionManagement"/>
	<virtualType name="NpCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="register" xsi:type="string">RegisterCommand</item>
				<item name="validate" xsi:type="string">ValidateCommand</item>
				<item name="register_shipped_out" xsi:type="string">RegisterShippedOutCommand</item>
				<item name="get_payment_status" xsi:type="string">GetPaymentStatusCommand</item>
				<item name="cancel" xsi:type="string">CancelCommand</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="\Riki\NpAtobarai\Model\Method\Adapter">
		<arguments>
			<argument name="commandPool" xsi:type="object">NpCommandPool</argument>
		</arguments>
	</type>
	<!-- start config RegisterCommand-->
	<virtualType name="RegisterCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
		<arguments>
			<argument name="requestBuilder" xsi:type="object">RegisterCommandRequestBuilder</argument>
			<argument name="transferFactory" xsi:type="object">RegisterCommandTransferFactory</argument>
			<argument name="client" xsi:type="object">CommandClient</argument>
			<argument name="handler" xsi:type="object">RegisterCommandResponseHandler</argument>
			<argument name="validator" xsi:type="object">RegisterCommandValidatorHandler</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterCommandRequestBuilder" type="Riki\NpAtobarai\Gateway\Request\BuilderComposite">
		<arguments>
			<argument name="builders" xsi:type="array">
				<item name="general" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionRegistration\GeneralDataBuilder</item>
				<item name="billing" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionRegistration\BillingDataBuilder</item>
				<item name="shipping" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionRegistration\ShippingDataBuilder</item>
				<item name="goods" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionRegistration\GoodsDataBuilder</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterCommandTransferFactory" type="Riki\NpAtobarai\Gateway\Http\TransferFactory">
		<arguments>
			<argument name="requestMethod" xsi:type="string">POST</argument>
			<argument name="urlEndPoint" xsi:type="string">v1/transactions</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterCommandResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="error" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Registration\ErrorHandler</item>
				<item name="success" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Registration\SuccessHandler</item>
			</argument>
		</arguments>
	</virtualType>
    <virtualType name="RegisterCommandValidatorHandler" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
				<item name="errors" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\ErrorValidator</item>
				<item name="results" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\Registration\ResultValidator</item>
            </argument>
        </arguments>
    </virtualType>
	<!-- end config RegisterCommand-->
	<!-- start config ValidateCommand-->
	<virtualType name="ValidateCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
		<arguments>
			<argument name="requestBuilder" xsi:type="object">ValidateCommandRequestBuilder</argument>
			<argument name="transferFactory" xsi:type="object">ValidateCommandTransferFactory</argument>
			<argument name="client" xsi:type="object">CommandClient</argument>
			<argument name="handler" xsi:type="object">ValidateCommandResponseHandler</argument>
		</arguments>
	</virtualType>
	<virtualType name="ValidateCommandRequestBuilder" type="Riki\NpAtobarai\Gateway\Request\BuilderComposite">
		<arguments>
			<argument name="builders" xsi:type="array">
				<item name="transaction" xsi:type="string">\Riki\NpAtobarai\Gateway\Request\TransactionIdDataBuilder</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="ValidateCommandTransferFactory" type="Riki\NpAtobarai\Gateway\Http\TransferFactory">
		<arguments>
			<argument name="requestMethod" xsi:type="string">POST</argument>
			<argument name="urlEndPoint" xsi:type="string">v1/authorizations/find</argument>
		</arguments>
	</virtualType>
	<virtualType name="ValidateCommandResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="accept" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Validation\AcceptHandler</item>
				<item name="invalidation" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Validation\InvalidationHandler</item>
				<item name="reject" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Validation\RejectHandler</item>
				<item name="error" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Validation\ErrorHandler</item>
			</argument>
		</arguments>
	</virtualType>
	<!-- config logger -->
	<type name="Riki\NpAtobarai\Gateway\Response\Validation\AcceptHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\Validation\RejectHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\Validation\ErrorHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Model\TransactionAuthorizeFailureEmail">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<!-- end config ValidateCommand-->
	<!-- start config RegisterShippedOutCommand-->
	<virtualType name="RegisterShippedOutCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
		<arguments>
			<argument name="requestBuilder" xsi:type="object">RegisterShippedOutCommandRequestBuilder</argument>
			<argument name="transferFactory" xsi:type="object">RegisterShippedOutCommandTransferFactory</argument>
			<argument name="client" xsi:type="object">CommandClient</argument>
			<argument name="validator" xsi:type="object">RegisterShippedOutCommandResponseValidator</argument>
			<argument name="handler" xsi:type="object">RegisterShippedOutCommandResponseHandler</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterShippedOutCommandRequestBuilder" type="Riki\NpAtobarai\Gateway\Request\BuilderComposite">
		<arguments>
			<argument name="builders" xsi:type="array">
				<item name="transaction" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionIdDataBuilder</item>
				<item name="carrier" xsi:type="string">Riki\NpAtobarai\Gateway\Request\ShippedOutRegistration\CarrierDataBuilder</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterShippedOutCommandTransferFactory" type="Riki\NpAtobarai\Gateway\Http\TransferFactory">
		<arguments>
			<argument name="requestMethod" xsi:type="string">POST</argument>
			<argument name="urlEndPoint" xsi:type="string">v1/shipments</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterShippedOutCommandResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="accept" xsi:type="string">Riki\NpAtobarai\Gateway\Response\ShippedOutRegistration\ResultHandler</item>
				<item name="errors" xsi:type="string">Riki\NpAtobarai\Gateway\Response\ShippedOutRegistration\ErrorsHandler</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegisterShippedOutCommandResponseValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
		<arguments>
			<argument name="validators" xsi:type="array">
				<item name="results" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\ShippedOutRegistration\ResultValidator</item>
				<item name="errors" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\ErrorValidator</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Riki\NpAtobarai\Cron\ShippedOutRegister">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\ShippedOutRegistration\ErrorsHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\ShippedOutRegistration\ResultHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<!-- end config RegisterShippedOutCommand-->
	<!-- start config GetPaymentStatusCommand-->
	<virtualType name="GetPaymentStatusCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
		<arguments>
			<argument name="requestBuilder" xsi:type="object">GetPaymentStatusCommandRequestBuilder</argument>
			<argument name="transferFactory" xsi:type="object">GetPaymentStatusCommandTransferFactory</argument>
			<argument name="client" xsi:type="object">CommandClient</argument>
			<argument name="validator" xsi:type="object">GetPaymentStatusCommandResponseValidator</argument>
			<argument name="handler" xsi:type="object">GetPaymentStatusCommandResponseHandler</argument>
		</arguments>
	</virtualType>
	<virtualType name="GetPaymentStatusCommandResponseValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
		<arguments>
			<argument name="validators" xsi:type="array">
				<item name="results" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\GetPaymentStatus\ResultValidator</item>
				<item name="errors" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\ErrorValidator</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="GetPaymentStatusCommandRequestBuilder" type="Riki\NpAtobarai\Gateway\Request\BuilderComposite">
		<arguments>
			<argument name="builders" xsi:type="array">
				<item name="transaction" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionIdDataBuilder</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="GetPaymentStatusCommandTransferFactory" type="Riki\NpAtobarai\Gateway\Http\TransferFactory">
		<arguments>
			<argument name="requestMethod" xsi:type="string">POST</argument>
			<argument name="urlEndPoint" xsi:type="string">v1/transactions/payments/find</argument>
		</arguments>
	</virtualType>
	<virtualType name="GetPaymentStatusCommandResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="paid" xsi:type="string">Riki\NpAtobarai\Gateway\Response\GetPaymentStatus\PaidHandler</item>
				<item name="notPay" xsi:type="string">Riki\NpAtobarai\Gateway\Response\GetPaymentStatus\NotPayHandler</item>
				<item name="error" xsi:type="string">Riki\NpAtobarai\Gateway\Response\GetPaymentStatus\ErrorHandler</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Riki\NpAtobarai\Gateway\Response\GetPaymentStatus\ErrorHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\GetPaymentStatus\NotPayHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\GetPaymentStatus\PaidHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<!-- end config GetPaymentStatusCommand-->
	<!-- start config CancelCommand-->
	<virtualType name="CancelCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
		<arguments>
			<argument name="requestBuilder" xsi:type="object">CancelCommandRequestBuilder</argument>
			<argument name="transferFactory" xsi:type="object">CancelCommandTransferFactory</argument>
			<argument name="client" xsi:type="object">CommandClient</argument>
			<argument name="validator" xsi:type="object">CancelCommandResponseValidator</argument>
			<argument name="handler" xsi:type="object">CancelCommandResponseHandler</argument>
		</arguments>
	</virtualType>
	<virtualType name="CancelCommandResponseValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
		<arguments>
			<argument name="validators" xsi:type="array">
				<item name="results" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\Cancel\ResultValidator</item>
				<item name="errors" xsi:type="string">Riki\NpAtobarai\Gateway\Validator\ErrorValidator</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="CancelCommandRequestBuilder" type="Riki\NpAtobarai\Gateway\Request\BuilderComposite">
		<arguments>
			<argument name="builders" xsi:type="array">
				<item name="transaction" xsi:type="string">Riki\NpAtobarai\Gateway\Request\TransactionIdDataBuilder</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="CancelCommandTransferFactory" type="Riki\NpAtobarai\Gateway\Http\TransferFactory">
		<arguments>
			<argument name="requestMethod" xsi:type="string">PATCH</argument>
			<argument name="urlEndPoint" xsi:type="string">v1/transactions/cancel</argument>
		</arguments>
	</virtualType>
	<virtualType name="CancelCommandResponseHandler" type="Magento\Payment\Gateway\Response\HandlerChain">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="success" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Cancel\SuccessHandler</item>
				<item name="error" xsi:type="string">Riki\NpAtobarai\Gateway\Response\Cancel\ErrorHandler</item>
			</argument>
		</arguments>
	</virtualType>
	<!-- end config CancelCommand-->
	<!-- start config TransferFactory-->
	<type name="Riki\NpAtobarai\Gateway\Http\TransferFactory">
		<arguments>
			<argument name="config" xsi:type="object">NpConfig</argument>
		</arguments>
	</type>
	<!-- end config TransferFactory-->
	<!-- start config client-->
	<virtualType name="CommandClient" type="Riki\NpAtobarai\Gateway\Http\Client\Curl">
		<arguments>
			<argument name="converter" xsi:type="object">Riki\NpAtobarai\Gateway\Http\Converter\JsonToArray</argument>
			<argument name="logger" xsi:type="object">LoggerNpMethod</argument>
		</arguments>
	</virtualType>
	<virtualType name="LoggerNpMethod" type="Magento\Payment\Model\Method\Logger">
		<arguments>
			<argument name="config" xsi:type="object">NpConfigLogger</argument>
			<argument name="logger" xsi:type="object">Riki\NpAtobarai\Logger\Api</argument>
		</arguments>
	</virtualType>
	<virtualType name="NpConfigLogger" type="Magento\Payment\Gateway\Config\Config">
		<arguments>
			<argument name="pathPattern" xsi:type="string">npatobarai/%s/%s</argument>
			<argument name="methodCode" xsi:type="string">general</argument>
		</arguments>
	</virtualType>
	<virtualType name="NpConfig" type="Magento\Payment\Gateway\Config\Config">
		<arguments>
			<argument name="methodCode" xsi:type="string">npatobarai</argument>
		</arguments>
	</virtualType>
	<!-- end config client-->

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="np_transaction_listing_data_source" xsi:type="string">Riki\NpAtobarai\Model\ResourceModel\Transaction\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Model\ResourceModel\Transaction\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">riki_np_atobarai_transaction</argument>
			<argument name="eventPrefix" xsi:type="string">riki_np_atobarai_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">riki_np_atobarai_collection</argument>
			<argument name="resourceModel" xsi:type="string">Riki\NpAtobarai\Model\ResourceModel\Transaction</argument>
		</arguments>
	</type>
<!--    Initialize new log -->
	<virtualType name="Riki\NpAtobarai\Logger\Handler\Api" type="Riki\NpAtobarai\Logger\BaseHandler">
		<arguments>
			<argument name="fileName" xsi:type="string">/var/log/np_atobarai_api.log</argument>
		</arguments>
	</virtualType>
	<virtualType name="Riki\NpAtobarai\Logger\Api" type="Monolog\Logger">
		<arguments>
			<argument name="name" xsi:type="string">npatobarai_api</argument>
			<argument name="handlers" xsi:type="array">
				<item name="debug" xsi:type="object">Riki\NpAtobarai\Logger\Handler\Api</item>
			</argument>
		</arguments>
	</virtualType>
<!--	End Initialize new log -->
    <virtualType name="Riki\NpAtobarai\Logger\Handler\Payment" type="Riki\NpAtobarai\Logger\BaseHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/payment_np_atobarai.log</argument>
        </arguments>
    </virtualType>
	<virtualType name="LoggerPaymentNpAtobarai" type="\Monolog\Logger">
		<arguments>
			<argument name="name" xsi:type="string">PaymentNpAtobarai</argument>
			<argument name="handlers" xsi:type="array">
				<item name="info" xsi:type="object">Riki\NpAtobarai\Logger\Handler\Payment</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Riki\NpAtobarai\Cron\TransactionCreate">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Response\Cancel\SuccessHandler">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Observer\UpdateShipmentIdForTransaction">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Magento\Sales\Model\ResourceModel\Order\Shipment">
		<plugin name="riki_npatobarai_shipment_update_payment_method_before_save" type="Riki\NpAtobarai\Plugin\Shipment\UpdatePaymentMethodBeforeSave" />
		<plugin name="rki_npatobarai_is_new_np_atobarai_shipment" type="Riki\NpAtobarai\Plugin\Shipment\IsNewNpAtobaraiShipment" />
	</type>
	<type name="Riki\NpAtobarai\Observer\CancelTransaction">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<!--Logger register order -->
    <type name="Riki\NpAtobarai\Gateway\Response\Registration\ErrorHandler">
        <arguments>
            <argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
        </arguments>
    </type>
    <type name="Riki\NpAtobarai\Gateway\Response\Registration\SuccessHandler">
        <arguments>
            <argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
        </arguments>
    </type>
	<type name="Riki\NpAtobarai\Cron\RegisterTransaction">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Observer\ValidateBeforeApproveCcNpAtobaraiRma">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Observer\CancelTransactionAfterCompleteRma">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Observer\CancelTransactionAfterOrderReAssignation">
		<arguments>
			<argument name="logger" xsi:type="object">LoggerPaymentNpAtobarai</argument>
		</arguments>
	</type>

	<!-- region JP -->
	<virtualType name="JpResolver" type="Magento\Framework\Locale\Resolver">
		<arguments>
			<argument name="locale" xsi:type="string">ja_JP</argument>
		</arguments>
	</virtualType>
	<virtualType name="RegionResourceJp" type="Magento\Directory\Model\ResourceModel\Region">
		<arguments>
			<argument name="localeResolver" xsi:type="object">JpResolver</argument>
		</arguments>
	</virtualType>
	<type name="Riki\NpAtobarai\Gateway\Request\TransactionRegistration\BillingDataBuilder">
		<arguments>
			<argument name="regionResourceModel" xsi:type="object">RegionResourceJp</argument>
		</arguments>
	</type>
	<type name="Riki\NpAtobarai\Gateway\Request\TransactionRegistration\ShippingDataBuilder">
		<arguments>
			<argument name="regionResourceModel" xsi:type="object">RegionResourceJp</argument>
		</arguments>
	</type>


</config>
