<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Nestle_Sales" setup_version="0.0.1">
        <sequence>
            <module name="Magento_Tax"/>
            <module name="Magento_Sales"/>
            <module name="Amasty_Promo"/>
            <module name="Riki_Questionnaire"/>
            <module name="Riki_ShipmentExporter"/>
            <module name="Riki_ShipmentImporter"/>
            <module name="Wyomind_AdvancedInventory"/>
            <module name="Riki_Sales"/>
        </sequence>
    </module>
</config>
