<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Riki_ShipLeadTime::manageleadtime" title="Manage Shipping Lead Time"
             module="Riki_ShipLeadTime" sortOrder="50"
             parent="Wyomind_PointOfSale::main"
             action="shipleadtime/index"
             resource="Riki_ShipLeadTime::config_shipleadtime"/>
    </menu>
</config>
