<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Riki\Subscription\Block\Adminhtml\Profile\Edit">
        <plugin name="riki_adminhtmlSubscriptionProfileEdit" sortOrder="0" type="Riki\SubscriptionProfileDisengagement\Plugin\Block\Adminhtml\Profile\Edit" />
    </type>
    <type name="Riki\SubscriptionCourse\Helper\Data">
        <plugin name="riki_subscriptionCourseHelperData" sortOrder="0" type="Riki\SubscriptionProfileDisengagement\Plugin\SubscriptionCourse\Helper\Data" />
    </type>
    <type name="Riki\SubscriptionPage\Helper\Data">
        <plugin name="riki_subscriptionPageHelperData" sortOrder="0" type="Riki\SubscriptionProfileDisengagement\Plugin\SubscriptionPage\Helper\Data" />
    </type>
</config>