<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Riki_CedynaInvoice::invoice"
             title="Manage Cedyna Invoices"
             sortOrder="120"
             module="Riki_CedynaInvoice"
             parent="Magento_Sales::sales_operation"
             action="cedyna_invoice/invoice/index"
             resource="Riki_CedynaInvoice::invoice"
        />
    </menu>
</config>

