<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Riki_ThirdPartyImportExport" setup_version="0.3.13">
        <sequence>
            <module name="Riki_ShipmentExporter"/>
        </sequence>
    </module>
</config>