<!--@subject 【ネスレ通販】「月額サービス料」 クレジットカード情報再設定のお願い @-->

-----------

<p>
    ***ネスレ通販オンラインショップからのお知らせ*** <br />
    ※このメールは配信停止希望のお客様にもお送りしています。
</p>
<p>この度はネスレ通販をご利用いただき、誠にありがとうございます。</p>
<p>
    お客様の月額サービス料お支払いにつきまして、<br />
    改めてクレジットカード情報を登録していただく必要がございます。<br />
    前回のお届け時にご使用のクレジットカードでは<br />
    お取引を完了することができない状況となっているか、<br />
    または、前回のお支払い方法が全額ポイント払いであったためでございます。
</p>
<p>
    恐れ入りますが、支払方法再登録画面より<br />
    新しいカード情報を入力していただけますよう、よろしくお願いいたします。
</p>
<p>
    【支払方法再登録画面はこちら】<br />
    <a target="_blank" href="{{var paygent_url}}">{{var paygent_url}}</a>
</p>
<p>
    今後ともネスレ通販 オンラインショップを<br />
    よろしくお願いいたします。
</p>
<p>
    ※このメールは自動配信メールです。<br />
    このメール送信元にご返信いただいてもご対応しかねますのでご了承ください。<br />
    このメールにお心当たりのない方、その他ご不明な点がございましたら、<br />
    大変お手数ですが、下記のお問い合わせ先までご連絡ください。<br />
    ※表示されている価格は、すべて税込価格です。<br />
    ----------------------------------------------------------------<br />
    ネスレ通販オンラインショップ<br />
    【各種お問い合わせは以下からご確認ください】<br />
    <a href="https://shop.nestle.jp/front/contents/inquiry/">https://shop.nestle.jp/front/contents/inquiry/</a><br />
</p>
<p>
    【よくあるご質問】<br />
    <a href="https://shop.nestle.jp/front/contents/faq/">https://shop.nestle.jp/front/contents/faq/</a><br />
    ----------------------------------------------------------------<br />
    発行：　ネスレ日本株式会社<br />
    〒651-0087　兵庫県神戸市中央区御幸通7-1-15<br />
</p>
<p>
    （C） Nestle Group All Rights Reserved.<br />
    許可なく転載することを禁じます。
</p>





