<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cvspayment>
               <customergroup>1,2,3</customergroup>
            </cvspayment>
            <paygent>
                <customergroup>1,2,3</customergroup>
            </paygent>
            <invoicedbasedpayment>
                <customergroup>1,2,3</customergroup>
            </invoicedbasedpayment>
            <cashondelivery>
                <customergroup>1,2,3</customergroup>
            </cashondelivery>
        </payment>
    </default>
</config>