<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="riki_rma_create_items_collection_before">
        <observer name="riki_rma_without_goods_set_flag_skip_create_items_collection" instance="Riki\RmaWithoutGoods\Observer\SetFlagSkipCreateItemsCollection"/>
    </event>
</config>
