<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="riki_gift_order" instance="Riki\GiftOrder\Observer\CheckGiftOrder"/>
    </event>

    <event name="after_save_address_item_in_multi_checkout">
        <observer name="riki_gift_order_multi_checkout" instance="Riki\GiftOrder\Observer\CheckGiftOrderMultiCheckout" />
    </event>
</config>