<div id="choose-subscription" style="display: none">
    <div class="list-profiles" data-bind="visible: profiles().length">
        <div class="explanation" data-bind="i18n: 'Select the subscription course to add product'">
        </div>
        <form data-bind="attr:{
            action: formPostUrl,
            method: 'POST',
            id: 'form-choose-subscription'
        }">
            <table class="subscription-list">
                <thead>
                <tr>
                    <th class="course-name" data-bind="i18n: 'Subscription course name'"></th>
                    <th class="frequency" data-bind="i18n: 'Frequency'"></th>
                    <th class="deliver-to" data-bind="i18n: 'Deliver To'"></th>
                    <th class="next-delivery-date" data-bind="i18n: 'Next delivery date'"></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: { data: profiles(), as: 'profile' }">
                <tr>
                    <td class="course-name" data-bind="attr: {'data-th': $t('Subscription course name')}">
                        <div class="data">
                            <input name="profile_id" type="radio" class="required-entry radio"
                                   data-bind="
                                           value: profile.profile_id,
                                           attr:{
                                               id: 'profile_' + profile.profile_id
                                           }
                                        " />
                            <label data-bind="attr:{ for: 'profile_' + profile.profile_id }">
                                <span data-bind="text: profile.course_name"></span>
                            </label>
                            <span class="show-mb" data-bind="text: profile.course_name"></span>
                        </div>
                    </td>
                    <td class="frequency" data-bind="attr: {'data-th': $t('Frequency')}">
                        <div class="data"><span data-bind="text: profile.frequency_interval"></span><span data-bind="i18n: profile.frequency_unit"></span></div>
                    </td>
                    <td class="deliver-to" data-bind="attr: {'data-th': $t('Deliver To')}">
                        <div class="data" data-bind="i18n: profile.shipping_address_type"></div>
                    </td>
                    <td class="next-delivery-date" data-bind="attr: {'data-th': $t('Next delivery date')}">
                        <div class="data" data-bind="text: profile.next_delivery_date"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="no-profile"  data-bind="visible: !profiles().length">
        <div class="loader"
             data-bind="visible: showLoading"
             style="text-align: center; padding-top: 2px">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>

        <div class="content">
            <div class="explanation" data-bind="text: error_message"></div>
        </div>
    </div>
    <div class="no-display">
        <span data-bind="i18n: 'home'"></span>
        <span data-bind="i18n: 'company'"></span>
        <span data-bind="i18n: 'shipping'"></span>
        <span data-bind="i18n: 'week'"></span>
        <span data-bind="i18n: 'month'"></span>
    </div>
</div>
