<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <catalog_rule_indexer>
                <cron_config>* * * * *</cron_config>
            </catalog_rule_indexer>
        </catalog>
    </default>
</config>
