<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="riki_config_back_to_top" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Back to top page Link</label>
            <tab>bluecom_cronjob</tab>
            <resource>Riki_Checkout::back_to_top_cart</resource>
            <group id="back_to_top_cart" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Back to top page Link</label>
                <field id="membership_online" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Membership online</label>
                </field>
                <field id="membership_online_ambassador" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Membership online ,Ambassador</label>
                </field>
                <field id="membership_online_wellness_ambassador" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Membership online ,Wellness Ambassador</label>
                </field>
                <field id="membership_online_wellness_ambassador_ambassador" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Membership online ,Wellness Ambassador,Ambassador</label>
                </field>
            </group>
        </section>
    </system>
</config>
