<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Riki_Checkout" setup_version="1.0.3">
        <sequence>
            <module name="Riki_Framework" />
            <module name="Magento_Checkout"/>
            <module name="Magento_Multishipping"/>
        </sequence>
    </module>
</config>
