<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productactive>
            <setting>
                <enable>1</enable>
                <expression>0 12 * * *</expression>
            </setting>
        </productactive>
    </default>
</config>