<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_catalogsearch_advanced_index">
        <observer name="riki_sales_controller_action_predispatch_catalogsearch_advanced" instance="Riki\CatalogSearch\Observer\CatalogSearchAdvancedPreDispatch"/>
    </event>
</config>