<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sap_integration_config>
            <general>
                <year>2016</year>
            </general>
            <sap_customer_id>
                <nicos>5299652</nicos>
                <nicos2>005735491</nicos2>
                <jcb>5299653</jcb>
                <jcb2>005735492</jcb2>
                <yamato>5299642</yamato>
                <askul>5299651</askul>
                <kinki>0000000</kinki>
                <tokai>0000000</tokai>
                <wellnet>5299646</wellnet>
                <itochu>3708471</itochu>
                <cedyna>4638008</cedyna>
                <fukujuen>5110776</fukujuen>
                <point_purchase>5299644</point_purchase>
                <sagawa>4921113</sagawa>
                <lupicia>005618553</lupicia>
            </sap_customer_id>
            <sap_reason_code_shipment>
                <sap_reason_code>SD</sap_reason_code>
            </sap_reason_code_shipment>
            <export_shipment>
                <enable>0</enable>
                <sftp>Demo/export_sap</sftp>
                <local>Riki_SapIntegration/Cron/Shipment</local>
                <schedule_time>0 0 * * *</schedule_time>
                <limit>10000</limit>
                <batch_limit>10000</batch_limit>
                <debug>0</debug>
            </export_shipment>
            <export_rma>
                <enable>0</enable>
                <sftp>Demo/export_sap</sftp>
                <local>Riki_SapIntegration/Cron/Rma</local>
                <schedule_time>0 0 * * *</schedule_time>
                <limit>10000</limit>
                <batch_limit>10000</batch_limit>
                <debug>0</debug>
            </export_rma>
        </sap_integration_config>
    </default>
</config>