<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <websites>
        <ec>
            <general>
                <home_link>
                    <link>https://shop.nestle.jp/front/contents/top</link>
                </home_link>
            </general>
        </ec>
        <cis>
            <general>
                <home_link>
                    <link>https://shop.nestle.jp/front/category/cis</link>
                </home_link>
            </general>
        </cis>
        <cnc>
            <general>
                <home_link>
                    <link>https://shop.nestle.jp/front/category/cnc</link>
                </home_link>
            </general>
        </cnc>
        <alegria>
            <general>
                <home_link>
                    <link>https://shop.nestle.jp/front/category/nsalegria</link>
                </home_link>
            </general>
        </alegria>
        <milan>
            <general>
                <home_link>
                    <link>https://shop.nestle.jp/front/category/nsmilano</link>
                </home_link>
            </general>
        </milan>
        <ncs>
            <general>
                <home_link>
                    <link>https://shop.nestle.jp/front/category/stand_ht47</link>
                </home_link>
            </general>
        </ncs>
    </websites>
    <default>
        <general>
            <link_to_guid_and_rules>
                <has_shosha_code>https://shop.nestle.jp/contents/category/cis/help/</has_shosha_code>
                <default>https://shop.nestle.jp/front/contents/guide</default>
            </link_to_guid_and_rules>
            <link_to_compliance_information>
                <has_shosha_code>https://shop.nestle.jp/contents/category/cis/compliance/</has_shosha_code>
                <default>https://shop.nestle.jp/front/contents/guide/ec/compliance</default>
            </link_to_compliance_information>
            <link_to_address_note_function>
                <default>https://shop.nestle.jp/front/contents/guide/member/address</default>
            </link_to_address_note_function>
            <link_to_faq>
                <has_shosha_code>https://shop.nestle.jp/contents/category/cis/inquiry/</has_shosha_code>
                <default>https://shop.nestle.jp/front/contents/faq</default>
            </link_to_faq>
            <link_to_inquiry>
                <default>https://shop.nestle.jp/front/contents/inquiry</default>
            </link_to_inquiry>
        </general>
    </default>
</config>