<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="paymentfee" instance="Bluecom\PaymentFee\Observer\AddFeeToOrderObserver" />
    </event>
    <event name="sales_quote_address_collect_totals_before">
        <observer name="paymentfee-reset-free-fee-flag" instance="Bluecom\PaymentFee\Observer\ResetFreeFeeFlagBeforeDiscountCollect" />
    </event>
    <event name="salesrule_validator_process">
        <observer name="paymentfee-set-free-fee-flag" instance="Bluecom\PaymentFee\Observer\SetFreeFeeFlag" />
    </event>
</config>
