<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_before">
        <observer name="riki_prize_checkout_submit_before" instance="Riki\Prize\Observer\CheckoutSubmitBefore" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="riki_prize_checkout_submit_all_after" instance="Riki\Prize\Observer\CheckoutSubmitAllAfter" />
    </event>
    <event name="payment_information_place_order_failed">
        <observer name="riki_prize_payment_information_place_order_failed" instance="Riki\Prize\Observer\PaymentInformationSubmitOrderFailed" />
    </event>
</config>