<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <gift_options>
                <wrapping_allow_order>0</wrapping_allow_order>
                <wrapping_allow_items>0</wrapping_allow_items>
            </gift_options>
        </sales>
    </default>
</config>