<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_move_after">
        <observer name="riki_category_move" instance="Riki\Catalog\Observer\CategoryMove" />
    </event>
    <event name="catalog_product_is_salable_after">
        <observer name="riki_catalog_product_is_salable_after" instance="Riki\Catalog\Observer\Adminhtml\CatalogProductIsSalableAfter" />
    </event>
</config>